
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script src="jquery.js"></script>
<script src="underscore-min.js"></script>
<script src="priority_queue.js"></script>
<!--
<script src="http://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
-->

<style>
    #container{
        width: auto;
    }
    #g{
        position: relative;
    }

    #goals{
        position: relative;
        margin-top: 30px;
    }

    #rightbtn{
        position: relative;
        padding-top: 7px;
        left: 120px;
    }
    #bottomBTN{
        position: relative;
        top: 20px;
        margin-left : 0px;
    }
    #bottomTips{
        position: relative;
        padding-right: 50px;

    }
    .btn{
        margin-top: 10px;

    }
    .block,.num-block{
        position: absolute;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 4px;
    }
    .block{
        border:1px solid #eee;
        box-sizing: border-box;
    }
    .num-block{
        color:#27AE60;
        font-weight: bold;
    }
</style>
<div class="container" id = "container">
    <div class="row" id ="row">
        <div id="g">

        </div>

        <div id = "rightbtn" class="rightbtn">
            <div id = "btnBFS" class="rightbtn">
                <input type="button" name="btn1" value="BFS">
                <br> </br>
            </div>
            <div id = "btnDFS" class="rightbtn">
                <input type="button" name="btn2" value="DFS">
                <br> </br>
            </div>
            <div id = "btnBestFS" class="rightbtn">
                <input type="button" name="btn3" value="BFS(BEST)">
            </div>

        </div>
        <div id ="bottomBTN" class="bottomBTN">
            <div id = "btnRe" class = "bottomBTN">
                <input type="button" name="reBTN" id="reBTN" value="Reinitialize">
                <input type="button" name="searchBTN" value="Search!">
            </div>
            <div id = "tips" class="bottomTips">
                <label id = "judge"> None </label>
                <label>   |    </label>
                <label id = "steps" style="right:50px"> None </label>

            </div>
            <strong> Goal: </strong>
        </div>

        <div id = "goals">

        </div>

    </div>
</div>

<script id="tpl" type="text/template">
    <% for(var i=0; i<data.length; i++) {%>
    <% for(var j=0; j< data[i].length; j++ ) { %>
    <div id="<%=i%><%=j%>" class="block" style="left:<%=util.getPost(j)%>;top:<%=util.getPost(i)%>"  data-x="<%=j%>" data-y="<%=i%>" data-info='{"x":<%=[j]%>,"y":<%=[i]%>}'>
    </div>
    <% } %>

    <% for(var j=0; j< data[i].length; j++ ) { %>
    <% if ( 0!==data[i][j] ) {%>
    <div id="num<%=i%><%=j%>" class="num-block" style="left:<%=util.getPost(j)%>;top:<%=util.getPost(i)%>" >
        <%=data[i][j]%>
    </div>
    <% } %>
    <% } %>
    <% } %>
</script>

<script id="tpl2" type="text/template">
    <% for(var i = 0; i < goal.length; ++i){ %>
    <%   for(var j = 0; j < goal[i].length; ++j){ %>
        <div id="<%=i + 3%><%=j + 3%>" class="block" style="left:<%=util.getPost(j)%>;top:<%=util.getPost(i)%>"  data-x="<%=j+3%>" data-y="<%=i+3%>" data-info='{"x":<%=[j+3]%>,"y":<%=[i+3]%>}'>
        </div>
    <% } %>
    <%   for(var j = 0; j < goal[i].length; ++j){ %>
    <%   if(0 !==goal[i][j]){ %>
    <div id="num<%=i%><%=j%>" class="num-block" style="left:<%=util.getPost(j)%>;top:<%=util.getPost(i)%>" >
        <%=goal[i][j]%>
    </div>

    <% } %>
    <% } %>
    <% } %>

</script>
<script>
    var Data = function() {
        this.init();
    };
    $.extend(Data.prototype, {
        /**
         * @desc 构造函数初始化
         * */
        init : function() {
            this.generateData();
        },

        generateData : function() {
            var data = [];
            var goal = [];
            for(var i=0; i<3; i++) {
                data[i] = data[i] || [];
                goal[i] = goal[i] || [];
                for(var j=0; j<3; j++) {
                    data[i][j] = 0;
                    goal[i][j] = 0;
                };
            };
            this.map = data;
            this.goal = goal;


        },
        
        /**
         * @desc 随机一个block填充到数据里面
         * @return void
         * */
        generationBlock : function() {
            //this.getRandom();
            this.map[0][0] = 2;
            this.map[0][1] = 0;
            this.map[0][2] = 3;
            this.map[1][0] = 1;
            this.map[1][1] = 8;
            this.map[1][2] = 4;
            this.map[2][0] = 7;
            this.map[2][1] = 6;
            this.map[2][2] = 5;

            this.zeroPosition = 1;
            this.BFSsteps = 0;
            this.DFSsteps = 0;
            this.BestFSsteps = 0;

            this.goal[0][0] = 1;
            this.goal[0][1] = 2;
            this.goal[0][2] = 3;
            this.goal[1][0] = 8;
            this.goal[1][1] = 0;
            this.goal[1][2] = 4;
            this.goal[2][0] = 7;
            this.goal[2][1] = 6;
            this.goal[2][2] = 5;

            //var position = this.getPosition();
            //this.set( position.x, position.y, data)
        },
        /**
         * @desc 获取随机数 2 或者是 4
         * @return 2 || 4;
         * */
        getRandom : function() {
            var visited = [];
            for(var i = 0; i < this.map.length; ++i ){
                for(var j = 0; j < this.map[i].length; ++j){
                    var temp = parseInt( Math.random() * 9);
                    while(visited[temp] === 1){
                        temp = parseInt( Math.random() * 9);
                    }
                    if(visited[temp] !== 1){
                        if(temp === 0){
                            this.zeroPosition = i * 3 + j;
                        }

                        this.map[i][j] = temp;
                        visited[temp] = 1;
                    }

                }
            }
        },
        /**
         * @desc 获取data里面数据内容为空的位置
         * @return
         * */
        getPosition : function() {
            var data = this.map;
            var arr = [];
            for(var i=0; i<data.length; i++ ) {
                for(var j=0; j< data[i].length; j++ ) {
                    if( data[i][j] === 0) {
                        arr.push({x:j, y:i});
                    };
                };
            };
            return arr[ Math.floor( Math.random()*arr.length ) ];
        },
        /**
         * @desc 把数据里第y排， 第x列的设置， 默认为0， 也可以传值;
         * @param x, y
         * */
        set : function(x,y ,arg) {
            this.map[y][x] = arg || 0;
        },

        isValid: function () {
            var a = [];
            var b = [];
            for(var i = 0; i < 3; ++i){
                for(var j = 0; j < 3; ++j){
                    a.push(this.map[i][j]);
                    b.push(this.goal[i][j]);
                }

            }
            var resultA = 0;
            var resultG = 0;
            for(var i = 0; i < a.length; ++i){
                for(var j = i; j < a.length; ++j){
                    if(a[i] > a[j] && a[j] !== 0){
                        resultA++;
                    }
                    if(b[i] > b[j]&& b[j] !== 0){
                        resultG++;
                    }
                }
            }

            return (resultA & 1) === (resultG & 1);

        },

        checkGoal: function () {
            for(var i = 0; i < 3; ++i){
                for(var j = 0; j < 3; ++j){
                    if(this.goal[i][j] !== this.map[i][j]){
                        return false;
                    }
                }
            }
            return true;
        },
        /**
         * @desc 往左边移动
         * */

        DFS: function () {
            this.DFSsteps = 0;
            if(!this.isValid()){
                return -1;
            }
            var data = this.map;
            var tempStack = [];
            var tempGrid = [];
            var jsMap = new Map();
            var str = data.toString();
            var goalstr = this.goal.toString();


            for(var i=0; i<3; i++) {
                tempGrid[i] = tempGrid[i] || [];
                for(var j=0; j<3; j++) {
                    tempGrid[i][j] = data[i][j];
                }
            }
            tempStack.push(str);
            jsMap.set(str, 0);
            if(str === goalstr) {
                return 0;
            }
            var depth = 1;
            while(tempStack.length !== 0){
                var tempStr = tempStack.pop();
                tempStr = tempStr.replace(/,/g, '');

                for(var i=0; i<3; i++) {
                    for(var j=0; j< 3; j++) {
                        tempGrid[i][j] = parseInt(tempStr[i * 3+ j]);
                    }
                }

                for(var j = 0; j < 3; ++j){
                    for(var k = 0; k < 3; ++k){
                        data[j][k] = tempGrid[j][k];
                    }
                }
                this.getZeroPosition();

                for(var i = 0; i < 4; ++i){
                    switch(i){
                        case 0:
                            if(this.zeroPosition !== 0 || this.zeroPosition % 3 !== 0){
                                this.moveLeft();
                            }break;
                        case 1:
                            if(this.zeroPosition / 3 > 0.8){
                                this.moveUp();
                            }
                            break;
                        case 2:
                            if(this.zeroPosition % 3 !== 2){
                                this.moveRight();
                            }
                            break;
                        case 3:
                            if(this.zeroPosition / 3 <= 2){
                                this.moveDown();
                            }
                            break;
                    }
                    str = data.toString();
                    if(!jsMap.has(str)){
                        this.DFSsteps++;
                        jsMap.set(str, depth);
                        if(str === goalstr){
                            return depth;
                        }
                        tempStack.push(str);
                    }

                    for(var j = 0; j < 3; ++j){
                        for(var k = 0; k < 3; ++k){
                            data[j][k] = tempGrid[j][k];
                        }
                    }
                    //data = tempGrid;
                    this.getZeroPosition();


                }
                depth++;

            }

        },

        BFS: function () {
            if(!(this.isValid())){
                return -1;
            }
            this.BFSsteps = 0;
            var data = this.map;
            var tempQueue = [];
            var jsMap = new Map();

            var tempGrid =  [];
            var goalstr = this.goal.toString();

            var str = data.toString();
            jsMap.set(str, 0);

            for(var i=0; i<3; i++) {
                tempGrid[i] = tempGrid[i] || [];
                for(var j=0; j<3; j++) {
                    tempGrid[i][j] = data[i][j];
                }
            }

            tempQueue.push(str);

            if(str === goalstr) {
                return 0;
            }
            while(tempQueue.length !== 0){
                var current = tempQueue[0];
                var tempStr = tempQueue.shift();
                tempStr = tempStr.replace(/,/g, '');
                //tempStr = tempStr.replace(/,/g, '');

                for(var i=0; i<3; i++) {
                    for(var j=0; j< 3; j++) {
                        tempGrid[i][j] = parseInt(tempStr[i * 3+ j]);
                    }
                }

                for(var j = 0; j < 3; ++j){
                    for(var k = 0; k < 3; ++k){
                        data[j][k] = tempGrid[j][k];
                    }
                }
                this.getZeroPosition();

                for(var i = 0; i < 4; ++i){
                    switch(i){
                        case 0:
                            if(this.zeroPosition !== 0 || this.zeroPosition % 3 !== 0){
                                this.moveLeft();
                            }break;
                        case 1:
                            if(this.zeroPosition / 3 > 0.8){
                                this.moveUp();
                            }
                            break;
                        case 2:
                            if(this.zeroPosition % 3 !== 2){
                                this.moveRight();
                            }
                            break;
                        case 3:
                            if(this.zeroPosition / 3 <= 2){
                                this.moveDown();
                            }
                            break;
                    }
                    str = data.toString();
                    if(!jsMap.has(str)){
                        this.BFSsteps++;
                        var t = jsMap.get(current);
                        t += 1;
                        jsMap.set(str, t);
                        if(str === goalstr){
                            return t;
                        }
                        tempQueue.push(str);

                    }

                    for(var j = 0; j < 3; ++j){
                        for(var k = 0; k < 3; ++k){
                            data[j][k] = tempGrid[j][k];
                        }
                    }
                    //data = tempGrid;
                    this.getZeroPosition();



                }
            }

        },

        calPriority: function () {
            var data = this.map;
            var mis = 0;
            for(var i = 0; i < 3; ++i){
                for(var j = 0; j < 3; ++j){
                    if(data[i][j] !== this.goal[i][j]){
                        mis++;
                    }
                }
            }
            return mis;

        },

        BestFS: function () {
            this.BestFSsteps = 0;
            if(!(this.isValid())){
                return -1;
            }
            this.BFSsteps = 0;
            var data = this.map;
            var tempQueue = new Priority_queue();
            var debugQueue = new Priority_queue();
            var jsMap = new Map();

            var tempGrid =  [];
            var goalstr = this.goal.toString();

            var str = data.toString();
            jsMap.set(str, 0);

            for(var i=0; i<3; i++) {
                tempGrid[i] = tempGrid[i] || [];
                for(var j=0; j<3; j++) {
                    tempGrid[i][j] = data[i][j];
                }
            }

            tempQueue.enqueue(str,this.calPriority() + 0);
            debugQueue.enqueue(str, this.calPriority() + 0);

            if(str === goalstr) {
                return 0;
            }
            var depth = 1;
            while(tempQueue.length !== 0){
                var current = tempQueue.peek().element;
                var tempStr = tempQueue.dequeue();
                tempStr.element = tempStr.element.replace(/,/g, '');

                for(var i=0; i<3; i++) {
                    for(var j=0; j< 3; j++) {
                        tempGrid[i][j] = parseInt(tempStr.element[i * 3+ j]);
                    }
                }

                for(var j = 0; j < 3; ++j){
                    for(var k = 0; k < 3; ++k){
                        data[j][k] = tempGrid[j][k];
                    }
                }
                this.getZeroPosition();

                for(var i = 0; i < 4; ++i){
                    switch(i){
                        case 0:
                            if(this.zeroPosition !== 0 || this.zeroPosition % 3 !== 0){
                                this.moveLeft();
                            }break;
                        case 1:
                            if(this.zeroPosition / 3 > 0.8){
                                this.moveUp();
                            }
                            break;
                        case 2:
                            if(this.zeroPosition % 3 !== 2){
                                this.moveRight();
                            }
                            break;
                        case 3:
                            if(this.zeroPosition / 3 <= 2){
                                this.moveDown();
                            }
                            break;
                    }
                    str = data.toString();
                    if(!jsMap.has(str)){
                        this.BestFSsteps++;
                        var t = jsMap.get(current) + 1;
                        jsMap.set(str, t);
                        if(str === goalstr){
                            debugQueue.enqueue(str, t);
                            return t;
                        }
                        var p = this.calPriority() + depth;
                        tempQueue.enqueue(str, p);
                        debugQueue.enqueue(str,p);

                    }

                    for(var j = 0; j < 3; ++j){
                        for(var k = 0; k < 3; ++k){
                            data[j][k] = tempGrid[j][k];
                        }
                    }
                    //data = tempGrid;
                    this.getZeroPosition();


                }
                depth++;

            }

        },


        getZeroPosition : function(){
            var data = this.map;
            for(var i = 0; i < data.length; ++i){
                for(var j = 0; j < data[i].length; ++j){
                    if(data[i][j] === 0){
                        this.zeroPosition =  i * 3 + j;
                        return;
                    }
                }
            }
        },

        moveLeft : function() {
            var data = this.map;
            var result = [];
            for(var i=0; i<data.length; i++ ) {
                for(var j=1; j<data[i].length ; j++) {
                    if (data[i][j] === 0) {
                        var temp = data[i][j];
                        data[i][j] = data[i][j - 1] ;
                        data[i][j - 1] =temp;
                        result.push({form:{x:i,y:j}, to:{x:i,y:j-1}});
                        return result;
                    }
                }
            }
            return result;
        },
        moveRight : function() {
            var result = [];
            var data = this.map;
            for(var i=0; i<data.length; i++ ) {
                for(var j=0 ; j < data[i].length - 1; j++) {
                    if (data[i][j] === 0) {

                        data[i][j] = data[i][j+1];
                        data[i][j+1] = 0;
                        result.push({form:{x:i,y:j}, to:{x:i,y:j+1}});
                        return result;
                    }
                }
            }
            return result;
        },
        moveUp : function() {
            var data = this.map;
            var result = [];
            // 循环要检测的长度
            for(var i=1; i<data.length; i++ ) {
                // 循环要检测的高度
                for(var j=0; j<data[0].length; j++) {
                    if (data[i][j] === 0) {

                        data[i][j] = data[i-1][j];
                        data[i - 1][j] = 0;
                        result.push({form:{x:i,y:j}, to:{x:i-1,y:j}});
                        return result;
                    };

                };
            };
            return result;
        },
        moveDown : function() {
            var data = this.map;
            var result = [];
            for(var i=0; i < data.length - 1; i++ ) {
                for(var j=0; j < data[0].length ; j++) {
                    if (data[i][j] === 0) {

                        data[i][j] = data[i + 1][j];
                        data[i+1][j] = 0;
                        result.push({form:{x:i,y:j}, to:{x:i+1,y:j}});
                        return result;
                    }
                }

            }

        }
    });

    var util = {
        animateShowBlock : function() {
            setTimeout(function() {
                this.renderHTML();
            }.bind(this),200);
        },
        animateMoveBlock : function(prop) {
            $("#num"+prop.to.x+""+prop.to.y).animate({top:40*prop.form.x,left:40*prop.form.y},400);
        },
        //底线库的模板中引用了这个方法;
        getPost : function(num) {
            return num*40 + "px";
        }
        //这个应该算是服务;
    };
    var View = function(data) {
        this.data = data.data;
        this.el = data.el;
        this.gl = data.gl;
        this.renderHTML();
        this.init();
        this.humanSteps = 0;
    };
    $.extend(View.prototype, {
        renderHTML : function() {
            var str = _.template( document.getElementById("tpl").innerHTML )( {data : this.data.map} );
            this.el.innerHTML = str;

            var goalString = _.template( document.getElementById("tpl2").innerHTML)({goal : this.data.goal});
            this.gl.innerHTML = goalString;
        },
        init : function() {
            this.bindEvents();
        },
        bindEvents : function() {
            $("#btnBFS").click(function () {
                var t = this.data.BFS();
                if(t !== -1 ){
                    /*
                    if(confirm("The minimum steps you need to reach the goal searching by BFS is: " + t + "\nThe actual steps required in searching is: "
                            + this.data.BFSsteps + "\nDo you want to watch the full procedure, or directly go to the goal state?")){
                        alert("Yes!");
                    }else{
                        this.renderHTML();
                    }
                    */
                    alert("The minimum steps you need to reach the goal searching by \nBFS is: " + t + "\nThe actual steps required in searching is: "
                        + this.data.BFSsteps);
                    this.renderHTML();
                    document.getElementById("judge").innerHTML = "Yes";
                    document.getElementById("steps").innerHTML = this.data.BFSsteps;

                }else{
                    alert("No solution!");
                    document.getElementById("judge").innerHTML = "No";
                    document.getElementById("steps").innerHTML = "None";

                }

            }.bind(this));

            $("#btnBestFS").click(function () {
                //alert("best");
                var t = this.data.BestFS();
                if(t !== -1){
                    alert("The minimum steps you need to reach the goal searching by \nBest-First Search is: " + t + "\nThe actual steps required in searching is: "
                        + this.data.BestFSsteps);
                    this.renderHTML();
                    document.getElementById("judge").innerHTML = "Yes";
                    document.getElementById("steps").innerHTML = this.data.BestFSsteps;
                }else{
                    alert("No solution!");
                    document.getElementById("judge").innerHTML = "No";
                    document.getElementById("steps").innerHTML = "None";


                }

            }.bind(this));

            $("#reBTN").click(function(){
                //alert("a");
                //this.data.generationBlock();
                this.data.getRandom();
                this.animateShowBlock();
            }.bind(this));

            $("#btnDFS").click(function () {
                var t = this.data.DFS();
                if(t !== -1 ){
                    alert("The steps you need by DFS is: " + this.data.DFSsteps + ", after searching in " + t + " depth.");
                    this.renderHTML();
                    document.getElementById("judge").innerHTML = "Yes";
                    document.getElementById("steps").innerHTML = this.data.DFSsteps;

                }else{
                    alert("No solution!");
                    document.getElementById("judge").innerHTML = "No";
                    document.getElementById("steps").innerHTML = "None";


                }
            }.bind(this));

            $(document).keydown(function(ev){
                var animationArray = [];
                switch(ev.keyCode) {
                    case 65:
                        animationArray = this.data.moveLeft();

                        break;
                    case 87 :
                        animationArray = this.data.moveUp();

                        break;
                    case 68 :
                        animationArray = this.data.moveRight();

                        break;
                    case 83 :
                        animationArray = this.data.moveDown();

                        break;
                }

                if( animationArray ) {
                    for(var i=0; i<animationArray.length; i++ ) {
                        var prop = animationArray[i];
                        this.animateMoveBlock(prop);
                        this.humanSteps++;
                    };
                };
                //this.data.generationBlock();
                this.animateShowBlock();
                if(this.data.checkGoal()){
                    alert("Congratulations! You use " + this.humanSteps + " steps to reach the goal!");
                    this.humanSteps = 0;
                }
            }.bind(this));
        }
    });

    $(function() {
        var data = new Data();
        data.generationBlock();
        var view = new View({ data :data, el : document.getElementById("g"), gl : document.getElementById("goals")  });
        $.extend( true, view, util );
        view.renderHTML();
        alert("WASD控制空格方向，W向上，A向左，S向下，D向右");
        /*        $("#reBTN").click(function(){
         data.generationBlock();
         });*/
    });
</script>
</body>
</html>
